<div class="form-item new-book-form-item">
    <label class="form-text">Title</label>
    <input type="text" name="title" value="<%=book.title%>">
</div>
<div class="form-item new-book-form-item">
    <label class="form-text">Author</label>
    <select name="author">
        <%authors.forEach(author => {%>
        <%if(book.author == author.id){%>
          
        <option  label="<%=author.name%>" value="<%=author.id%>" selected></option>
        <%}else{%>
            <%= author.id%>  <%=book.author%>
        <option  label="<%=author.name%>" value="<%=author.id%>"></option>
        <%}%>
        <%})%>
    </select>
</div>
<div class="form-item new-book-form-item">
    <label class="form-text">Publish Date</label>
    <input type="date" name="publishDate"
        value="<%=book.publishDate == null? '': book.publishDate.toISOString().split('T')[0]%>">
</div>
<div class="form-item new-book-form-item count-page">
    <label class="form-text">Pages Count</label>
    <input type="number" name="pageCount" value="<%=book.pageCount%>" min="1">
</div>
<div class="last-form-item">
    <div class="form-item new-book-form-item cover-form">
        <label class="form-text">Cover</label>
        <input type="file" name="cover" class="filepond">
    </div>
    <div class="form-item new-book-form-item form-description">
        <label class="form-text">Description</label>
        <textarea name="description"><%= book.description %> </textarea>
    </div>
</div>
